.features-by-layers-wrapper {
    display: flex;
    max-height: 500px;
    /* overflow-y: auto;
    overflow-x: hidden; */
  }
  
  .layerTabs-wrapper {
    border: blue dotted;
    width: 200px;
  }
  
  .feature-table {
    border: blue solid 1px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 350px;
  }
  
  .feature-body {
    overflow-y: auto;
    overflow-x: auto;
  }
  
  .tab-layer-row {
    width: 200px;
  }
  
  .value-cell {
    text-align: right;
  }
  
  table {
    border-collapse: collapse;
  }
  
  tr.odd {
    background-color: lavender;
  }

  tr.selected {
    background-color: rgba(115, 227, 241, 0.575);
  }